.accounts-detail-container {
  justify-content: center;
  display: flex;
  height: 100vh;
  background: #dcdcdcb3;
  .css-1h9z7r5-MuiButtonBase-root-MuiTab-root {
    font-size: 13px;
    font-weight: 400;
    background-color: #bfcad3;
    color: #ffffff;
    cursor: pointer;
    margin: 0 2px 0 2px;
    border-color: transparent;
    letter-spacing: 2px;
    line-height: 10px;
    border-radius: 4px 4px 0px 0px;
  }
  .css-1h9z7r5-MuiButtonBase-root-MuiTab-root.Mui-selected {
    background-color: #778591;
    color: white;
  }
  .css-1aquho2-MuiTabs-indicator {
    background-color: unset !important;
  }

  .overview-grid {
    .display-grid {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding-top: 6px;
    }
    .css-cnd76u-MuiPaper-root {
      box-shadow: unset;
      padding-left: 10px;
      font-size: 14px;
      font-weight: 400;
      background-color: #ececec;
      color: #534d64;
      display: flex;
      align-items: center;
      border-radius: 4px;
      min-height: 38px;
      text-align: left;
    }
  }

  .change-account-detail {
    padding-bottom: 3px;
    .css-11qr2p8-MuiButtonBase-root-MuiButton-root {
      background-color: #94a6b5;
      font-size: 10px;
      font-weight: 600;
      line-height: 18px;
      padding: 5px 11px 2px 13px;
    }
  }
  .accounts-detail-title {
    display: flex;
    font-size: 26px;
    font-weight: 300;
    color: #534d64;
    margin: 0 0 12px 0;
    float: left;
    letter-spacing: 2px;
    width: 80%;

    text-transform: uppercase;
    margin-bottom: 20px;
  }
  .accounts-detail-tabs {
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: flex-end;
  }
}
